body {
  background-color: #f7f8e2;
}
section {
  background-color: #dfdeca;
  text-align: center;
  padding: 25px 25px;
}
figure {
  text-align: center;
}
article {
  padding-top: 25px;
}
h2 {
  text-align: center;
}
